[submodule "skarabox"]
	path = skarabox-collection/skarabox
	url = git@github.com:nikhilmaddirala/skarabox.git
	branch = main
[submodule "nixos-anywhere"]
	path = nixos-anywhere-collection/nixos-anywhere
	url = https://github.com/nix-community/nixos-anywhere.git
[submodule "nix-config"]
	path = nm-nix-collection/nix-config
	url = git@github.com:nikhilmaddirala/nix-config.git
[submodule "selfhostblocks-collection/selfhostblocks"]
	path = selfhostblocks-collection/selfhostblocks
	url = git@github.com:ibizaman/selfhostblocks.git
[submodule "nm-nix-collection/selfhostblocks-test"]
	path = nm-nix-collection/selfhostblocks-test
	url = git@github.com:nikhilmaddirala/selfhostblocks-test.git
[submodule "nm-nix-collection/dragon-test-project"]
	path = nm-nix-collection/dragon-test-project
	url = git@github.com:nikhilmaddirala/dragon-test-project.git
[submodule "m3tam3re-collection/nixos-config"]
	path = m3tam3re-collection/nixos-config
	url = https://code.m3ta.dev/m3tam3re/nixos-config.git
[submodule "misc-collections/Misterio77-nix-starter-configs"]
	path = misc-collections/Misterio77-nix-starter-configs
	url = https://github.com/Misterio77/nix-starter-configs.git
[submodule "misc-collections/mitchellh-nixos-config"]
	path = misc-collections/mitchellh-nixos-config
	url = https://github.com/mitchellh/nixos-config.git
