[submodule "skarabox"]
	path = skarabox
	url = git@github.com:nikhilmaddirala/skarabox.git
	branch = main
[submodule "nixos-anywhere"]
	path = nixos-anywhere
	url = https://github.com/nix-community/nixos-anywhere.git
